POSTGRES_URL="yourpostgresurl"
POSTGRES_PRISMA_URL="yourpostgresurl"
POSTGRES_URL_NO_SSL="yourpostgresurl"
POSTGRES_URL_NON_POOLING="yourpostgresurl"
POSTGRES_USER="yourdbusername"
POSTGRES_HOST="yourdbhostname"
POSTGRES_PASSWORD="yourdbhostpass"
POSTGRES_DATABASE="yourdbname"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="yourclerkkey"
CLERK_SECRET_KEY="yourclerksecret"

UPLOADTHING_TOKEN='youruploadthingtoken'

SENTRY_AUTH_TOKEN="yoursentrytoken"
SENTRY_ORG="yoursentryorg"
SENTRY_PROJECT="yoursentryproject"

NEXT_PUBLIC_POSTHOG_KEY="yourposthogkey"
NEXT_PUBLIC_POSTHOG_HOST="yourposthoghost"

KV_REST_API_URL="yourkvurl"
KV_REST_API_TOKEN="yourkvtoken"
